.Chat {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;

    p {
        margin: 5px;
    }

    .messagesCont {
        height: 100%;
        overflow: auto;
    }
    
    .messages {
        list-style: none;
        margin: 0;
        padding: 5px;
    }
    
    .message {
        padding: 5px;
        width: 90%;
        margin-bottom: 5px;
        background: #eee;

        button {
            opacity: 0;
        }
        &:hover button {
            opacity: 0.5;
        }
        button:hover {
            opacity: 1;
        }
        
        .user {
            color: #666;
        }
        
        .date {
            color: #aaa;
        }
    }
    
    .message.own {
        margin-left: 7%;
        background: #dcf8c6;
    }
    
    .messageToScroll {
        height: 18px;
    }

    .msgToUpdate {
        padding: 5px;
        background: #eee;

        label {
            display: block;
            color: #aaa;
        }
    }
    
    .newMessageForm {
        display: flex;
    }
    
    .newMessageInput {
        width: 100%;
    }
    
    .newMessageBtn {
        cursor: pointer;
    }
}