.Chat {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Chat .messagesCont {
    height: 100%;
    overflow: auto;
}
  
.Chat .messages {
    list-style: none;
    margin: 0;
    padding: 5px;
}
  
.Chat .message {
    padding: 5px;
    width: 90%;
    margin-bottom: 5px;
    background: #eee;
}
  
.Chat .message .user {
    color: #666;
}
  
.Chat .message .date {
    color: #aaa;
}
  
.Chat .message.own {
    margin-left: 7%;
    background: #dcf8c6;
}
  
.Chat .messageToScroll {
    height: 18px;
}
  
.Chat .newMessageForm {
    display: flex;
}
  
.Chat .newMessageInput {
    width: 100%;
}