.Users {
    margin-bottom: 10px;
    display: flex;
    min-width: 430px;

    .logged-as {
        display: flex;
        width: 100%;

        b {
            margin-left: 5px;
        }

        button {
            margin-left: auto;
        }
    }

    label {
        margin-right: 15px;

        input {
            margin: 0;
        }
    }

    form {
        display: inline-block;

        input {
            width: 70px;
            margin-right: 5px;
        }
    }
}