.Users {
    margin-bottom: 15px;
    display: flex;

    label {
        margin-right: 15px;

        input {
            margin: 0;
        }
    }

    form {
        display: inline-block;

        input {
            width: 70px;
            margin-right: 5px;
        }
    }
}