.Users {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.logged-in {
        height: auto;
        margin-bottom: 9px;
    }

    .logged-as {
        display: flex;
        width: 100%;

        b {
            margin-left: 5px;
        }

        button {
            margin-left: auto;
        }
    }

    label {
        margin-right: 15px;

        input {
            margin: 0;
        }
    }

    form {
        input[type="text"],
        input[type="password"] {
            width: 82px;
            margin-right: 5px;
        }

        button {
            min-width: 90px;
            padding: 1px 2px;
        }
    }
}

@media (max-width: 480px) {
    .Users {
        form {
            span {
                display: block;
                margin-bottom: 10px;
            }
        }
    }
}