.ChatList {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;

    p {
        margin: 5px;
    }

    .chatsCont {
        height: 100%;
        overflow: auto;
    }
    
    .chats {
        list-style: none;
        margin: 0;
        padding: 5px;
    }
    
    .chat {
        padding: 5px;
        margin-bottom: 5px;
        background: #eee;
        cursor: pointer;

        .newMessagesCount {
            float: right;
            text-align: center;
            font-size: 15px;
            min-width: 20px;
            line-height: 20px;
            border-radius: 50%;
            color: #fff;
            background: #06d755;
        }

        .delete {
            float: right;
            margin: 0 0 5px 5px;
            border: 0;
            background: none;
        }
        .delete:hover {
            background: #eee;
            cursor: pointer;
        }
    
        .user {
            color: #666;
        }
    
        .date {
            color: #aaa;
        }

        .lastMessageText {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
        
    .chat:hover {
        background: #ddd;
    }
    
    .chat.active {
        background: #cce5ff;
    }
    
    .chatSearchForm {
        display: flex;
    }
    
    .chatSearchInput {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .ChatList {
        width: 100%;
    }
}