html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.users {
  list-style: none;
  padding: 0;
  margin: 0 0 15px;

  li {
    display: inline;
    margin-left: 5px;

    a {
      padding: 5px;
    }

    .active {
      text-decoration: none;
      cursor: auto;
      color: inherit;
      background: #eee;
    }
  }
}

.App {
  border: 1px solid #666;
  width: 600px;
  height: 500px;
  display: flex;

  .divider {
    width: 5px;
    background: #eee;
  }
}
